/* global.css */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}

@media (min-width: 640px) {
  /* sm */
  .container {
    padding: 0px 50px;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    padding: 0px 50px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    padding: 0px 150px;
  }
}


.head-h2 {
  font-size: small;
}

@media (min-width: 640px) {
  /* sm */
  .head-h2 {
  font-size: small;
  }
}

@media (min-width: 768px) {
  /* md */
  .head-h2 {
  font-size: small;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .head-h2 {
  font-size: xx-large;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Box gradient  */
.bg-gradient-light {
  background: linear-gradient(to bottom, #9a7ec7 10%, #ffffff 65%);
}

.dark .bg-gradient-dark {
  background: linear-gradient(to bottom, #1e1e1e 10%, #000000 85%);
}
